@model List<PatientViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Avans Fysio</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <div class="display-1 py-2">
            Registrated Patients
        </div>
        <a class="btn btn-primary" asp-action="PatientForm">Add a new patient</a>
    </div>

    <div class="text-center container">
        <h2>Registered Patients</h2>
        <a class="btn btn-primary m-2" asp-controller="NewPatient" asp-action="PatientForm">Voeg patiënt toe</a>
        <a class="btn btn-primary m-2" asp-controller="NewPatient" asp-action="ShowPatients">Toon patiënten</a>


    </div>
</body>
</html>