@model List<PatientViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Avans Fysio</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <div class="jumbotron dark-blue-background">
        <h1 class="display-3">Welkom!</h1>
        <p>Welkom bij de avans fysio applicatie!</p>
        <p>Hier kunt u gegevens aanpassen toevoegen en verwijderen.</p>
    </div>


    <img src="~/img/logo.png" alt="Logo" class="py-5 d-block mx-auto" />

    <div class="text-center container grey-blue-background my-3">
        <div class="row">
            <div class="col">
                <h3 class="arial text-center pt-5">Patiënten</h3>
            </div>
        </div>
        <div class="row text-center d-flex justify-content-center">
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="PatientForm">Voeg patiënt toe</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">Toon patiënten</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">Pas patiënt gegevens aan</a>
        </div>
        <div class="col">
            <h3 class="arial text-center">Afspraken</h3>
        </div>
        <div class="row text-center d-flex justify-content-center">
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="Appointment">Nieuwe afspraak</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">Toon afspraken</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">Verwijder afspraak</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">pas afspraak aan</a>
        </div>
        <div class="col">
            <h3 class="arial text-center">Behandelplan</h3>
        </div>
        <div class="row text-center d-flex justify-content-center">
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="PatientForm">Nieuwe behandelplan</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">Toon behandelplannen</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">Verwijder behandelplan</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">pas behandelplan aan</a>
        </div>
        <div class="col">
            <h3 class="arial text-center">Dossier</h3>
        </div>
        <div class="row text-center d-flex justify-content-center pb-5">
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="PatientForm">Nieuwe dossier</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">Toon dossiers</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">Verwijder dossier</a>
            <a class="btn btn-primary m-2 col-2" asp-controller="NewPatient" asp-action="ShowPatients">pas dossier aan</a>
        </div>

    </div>
    <a class="btn btn-primary m-2 col-2 float-right" asp-controller="Home">Uitloggen</a>
</body>
</html>