.field-validation-error {
    color: #626580;
}

.field-validation-valid {
    display: none;
}

.form-control.input-validation-error {
    border: 1px solid #f00;
    background-color: #FEE;
}

.validation-summary-errors {
    font-weight: bold;
    color: #626580;
}

.validation-summary-valid {
    display: none;
}

.arial {
    font-family: Arial
}

.impact {
    font-family: Impact
}

.btn-primary {
    background-color: #525aaf !important;
    border-color: #525aaf !important;
    font-family: Impact
}

    .btn-primary:hover {
        background-color: #9ca5ff !important;
        border-color: #9ca5ff !important;
        font-family: Impact;
    }

.dark-blue-background {
    background-color: #525aaf !important;
    color: #ffffff;
}

.light-blue-background {
    background-color: #9ca5ff !important;
    color: #ffffff;
}

.grey-blue-background {
    background-color: #626580 !important;
    color: #ffffff;
}

ul, ol {
    list-style: none;
}
