@model List<PatientViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Patient list</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center py-5">
        <a class="btn btn-primary" asp-controller="Patient" asp-action="Index">Terug</a>
        <a class="btn btn-primary" asp-action="PatientForm">Voeg patiënt toe</a>
    </div>

    <div class="text-center container">
        <h4 class="arial">Registratie lijst</h4>
        <table class="table table-bordered table-striped table-sm px-4">
            <thead>
                <tr><th>Naam</th><th>ID</th><th>Geboortedatum</th></tr>
            </thead>

            <tbody>
                @foreach (PatientViewModel p in Model)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.PatientID</td>
                        <td>@p.DateOfBirth.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>