<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Avans Fysio</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <div class="display-1 py-2">
            Registrated Patients
        </div>
        <a class="btn btn-primary" asp-action="PatientForm">Add a new patient</a>
    </div>

    <div class="text-center container">
        <h1>LOL</h1>
        <a class="btn btn-primary m-2" asp-controller="Auth" asp-action="Login">Login</a>
        <a class="btn btn-primary m-2" asp-controller="Auth" asp-action="Register">Registreren</a>
    </div>
</body>
</html>