@model List<PatientViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Avans Fysio</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <div class="display-1 py-2">
            Registrated Patients
        </div>
        <a class="btn btn-primary" asp-action="PatientForm">Add a new patient</a>
    </div>

        <div class="text-center container">
            <h2>Registered Patients</h2>
            <table class="table table-bordered table-striped table-sm px-4">
                <thead>
                    <tr><th>Name</th><th>Age</th><th>Registration date</th></tr>
                </thead>

                <tbody>
                    @foreach (PatientViewModel p in Model)
                    {
                        <tr>
                            <td>@p.Name</td>
                            <td>@p.Age</td>
                            <td>@p.RegistrationDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</body>
</html>