@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Avans Fysio</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <div class="jumbotron dark-blue-background">
        <h1 class="display-3">Welkom!</h1>
        <p>Welkom bij de avans fysio applicatie!</p>
        <p>Om verder te gaan dient u in te loggen door op de login knop te drukken,</p>
        <p>of een account aan te maken door op de registreer knop te drukken</p>
    </div>


    <div class="text-center container pb-5">
        <img src="~/img/banner1.png" alt="Banner" class="pb-5" />
        <div class="container grey-blue-background">
            <h2>Inloggen of een nieuw account aanmaken:</h2>
            <div class="pb-3">
                <a class="btn btn-primary m-2" asp-controller="Auth" asp-action="Login">Login</a>
                <a class="btn btn-primary m-2" asp-controller="Auth" asp-action="Register">Registreren</a>
            </div>
        </div>
        <div class="container my-3 py-5 text-left">
            <div class="row">
                <div class="col-5 grey-blue-background mx-3">
                    <h4>Over doel:</h4>
                    <p>
                        Mensen die Corona hebben gehad, hebben vaak langdurig te maken met de gevolgen van Corona.
                        Voor het herstel hebben ze vaak de hulp nodig van een fysiotherapeut. Ook het thuiswerken onder
                        niet optimale omstandigheden heeft wat gezondheidsproblematiek veroorzaakt. Om studenten
                        fysiotherapie goed op te leiden en om eigen medewerkers en studenten te kunnen helpen, gaat Avans
                        een eigen praktijk openen op locatie waar studenten en medewerkers van Avans terecht kunnen. Op
                        de praktijk zullen ervaren fysiotherapeuten werken en natuurlijk de studenten.
                    </p>
                </div>

                <div class="col-5 grey-blue-background mx-3">
                    <h4>Over ons:</h4>
                    <p>
                        Mensen die Corona hebben gehad, hebben vaak langdurig te maken met de gevolgen van Corona.
                        Voor het herstel hebben ze vaak de hulp nodig van een fysiotherapeut. Ook het thuiswerken onder
                        niet optimale omstandigheden heeft wat gezondheidsproblematiek veroorzaakt. Om studenten
                        fysiotherapie goed op te leiden en om eigen medewerkers en studenten te kunnen helpen, gaat Avans
                        een eigen praktijk openen op locatie waar studenten en medewerkers van Avans terecht kunnen. Op
                        de praktijk zullen ervaren fysiotherapeuten werken en natuurlijk de studenten.
                    </p>
                </div>
            </div>

        </div>
    </div>
</body>
</html>