@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="jumbotron dark-blue-background">
        <h1 class="display-3">Login</h1>
        <p class="lead">Login to AvansFysio</p>
    </div>

    <div class="container">
        <form asp-action="Login" method="post">
            <div class="text-center font-weight-bold lead" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Email" class="px-2">Email:</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="px-2">Password:</label>
                <input asp-for="Password" class="form-control" type="password"/>
            </div>
            <button type="submit" class="mb-5 btn btn-primary">Login</button>
        </form>
    </div>
</body>
</html>
